body{
    background-color:#f7f7f8;
}

.container{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 600px;
    min-width: 350px;
    grid-template-columns: repeat(1,minmax(350px,500px));
    background-color: #ece4b7;
    /* grid-template-rows: repeat(3); */
    /* margin: 0 auto; */
}

span {
    color: red;
    font-size: 14px;
}

#logo {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    justify-self: center;
}

