
body{
    margin: 0;
    padding: 0;
    background-color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: black;
}
.maincontent{
    display: grid;
    justify-items: center;
    height: 800px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "foto login";
}
.login-box{
    grid-area: login;
    height: 600px;
    width: 300px;
    margin-top: 5%;
    background: linear-gradient(135deg, blueviolet, rgb(67, 0, 155));
    padding: 30px;
    border-radius: 5px;
}
.login-box .revisar{
    margin-left: 40px;
}
.login-box .revisar h3{
    color: white;
    margin: 0;
    font-size: 1.7rem;
}
.login-box .revisar p{
    margin-top: 3px;
    font-size: 0.8rem;
    color: rgb(54, 71, 126);
}
.login-box .revisar p a{
    margin-top: 3px;
    color: yellow;
    text-decoration: none;
}

.login-box .formulario-registro{
    height: 300px;
    width: 220px;
    /* overflow: hidden; */
    margin-left: 40px;
}

.login-box .formulario-sesion{
    height: 180px;
    width: 220px;
    overflow: hidden;
    margin-left: 40px;
}

.formulario-registro input,
.formulario-sesion input{
    width: 202px;
    background-color: rgb(128, 128, 224);
    border: none;
    padding: 10px 0 10px 15px;
    margin: 5px 0 5px 0;
    color: white;
    cursor: pointer;
}

.formulario-registro input[type="submit"],
.formulario-sesion input[type="submit"]{
    width: 217px;
    padding-left: 0;
}
.formulario-registro .coincidir{
    margin-bottom: 15px;
    color: red;
}

.formulario-sesion input:nth-child(3){
    margin-bottom: 15px;
}
.formulario-registro input:nth-child(5),
.formulario-sesion input:nth-child(5){
    margin-top: 15px;
}

.formulario-registro ::placeholder,
.formulario-sesion ::placeholder{
    color: white;
}

.formulario-registro input:hover,
.formulario-sesion input:hover{
    background-color: rgb(57, 57, 77);
}

.formulario-registro input:focus,
.formulario-sesion input:focus{
    border: none;
    outline: none;
}

.formulario-registro input:focus::placeholder,
.formulario-sesion input:focus::placeholder{
    color: transparent;
}

.coincidir{
    margin: 0;
    font-size: 0.7rem;
}
.checkbox-container {
    display: flex;
    align-items: center; 
}

.checkbox-container input[type="checkbox"] {
    margin: 0 5px 0 0 ; 
    width: 20px;
}

.checkbox-container label {
    color: white; 
    font-size: 13px; 
}

.formulario-sesion-sesion .iniciar-sesion,
.formulario-sesion .registrarse{
    padding: 10px 0 10px 0px;
}

.recordar{
    font-size: 0.6rem;
    color: black;
}
.recordar:hover{
    color: blue;
}
.division{
    display: flex;
    margin-bottom: 15px;
}
.division hr{
    width: 90px;
    border: none;
    height: 1px;
    background-color: rgb(180, 172, 172);
}
.division p{
    margin: 0 5px 0 5px;
    color: rgb(180, 172, 172);
}

.sesion{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}   

.sesion div{
    cursor: pointer;
    height: 35px;
    width: 160px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.sesion div:nth-child(1){
    background-color: white;
}

.sesion div:nth-child(2){
    background-color: rgb(0, 0, 0);
}

.sesion div:nth-child(3){
    background-color: rgb(76, 76, 209);
}

.sesion div:nth-child(1) img{
    height: 30px;
    width: 30px;
}

.sesion div:nth-child(2) img{
    height: 30px;
    width: 30px;
}

.sesion div:nth-child(3) img{
    height: 30px;
    width: 80px;
}

.footer{
    background-color:rgb(67, 0, 155) ;
    margin-top: 10px;
    min-width: 300px;
}

.metodos{
    height: 40px;
    padding: 5px 0 5px 0;
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 10px;
}

.informacion-general{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
    "foot1 foot2 foot3 foot4 foot5"
    "foot6 foot6 foot6 foot6 foot6";
    width: 100%;
    padding: 0;
}
.informacion-footer{
    color: rgb(201, 190, 190);
    list-style: none;
    padding: 5px;
}
.foot1{
    grid-area: foot1;
    margin-left: 10px;
}

.foot2{
    grid-area: foot2;
}
.foot3{
    grid-area: foot3;
}
.foot4{
    grid-area: foot4;

}
.foot5{
    grid-area: foot5;
    display: flex;
    flex-direction: column;
}
.foot6{
    grid-area: foot6;
}
.informacion-general ul li{
    margin-bottom: 5%;
    cursor: pointer;
    color: rgb(134, 143, 151);
}
.informacion-general ul li:hover{
    color: rgb(29, 30, 31);
}

.informacion-footer .redes-footer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.informacion-footer .redes-footer li a img{
    height: 50px;
}

.informacion-footer .redes-footer :nth-child(1) a img{
    height: 40px;
    margin-top: 5px;
}

.informacion-footer .redes-footer :nth-child(4) a img{
    height: 48px;
}

.div{
    margin-top: 16px;
}
.contacto{
    display: flex;
    align-content: center;
}
.contacto form{
    display: flex;
    flex-direction: column;
}
.contacto input[type="text"]{
    background-color: white;
    border: none;
    padding: 10px 0 10px 15px;
    color: black;
    cursor: pointer;
    width: 200px;
    margin-bottom: 10px;
}

.contacto .contacta:focus{
    border: none;
    outline: none;
}

.contacto .contacta:focus::placeholder{
    color: transparent;
}

.contacto input[type="button"] {
    margin: 0 5px 0 0 ; 
    width: 60px;
    padding: 5px;
    cursor: pointer;
}

.copy {
    text-align: center;
    margin-top: 20px;
    flex-shrink: 0; 
    color: rgb(134, 143, 151);

}
.copy a{
    color: black;
}

.cookies{
    width: 85%;
    padding: 5px;
    z-index: 1;
    top: 98%;
    left: 50%;
    transform: translate(-50%, -98%);
    position: fixed;
    background-color: rgb(39, 35, 35);
    text-align: center;
    border-radius: 10px;
    color: white;
    font-size: 0.8rem;
}
.cookies h3{
    margin: 10px 0 0 0 ;
}
.cookies-flex{
    display: flex;
    gap: 5px;
    justify-content: center;
    flex-wrap: wrap;

}

.cookies-flex input{
    border: none;
    outline: none;
    cursor: pointer;
    height: 20px;
    width: 80px;
    margin: 10px 0 5px 0;
}

.cookies-flex input:hover{
    background-color: beige;
} 


@media (max-width: 960px) {
    .informacion-general {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "foot1 foot2 foot3"
        "foot4 foot5 ."
        "foot6 foot6 foot6"
        ;
    }
    .cookies-flex input{
        margin-bottom: 5px;
    }
    .cookies-flex p{
        margin: 0;
    }
}
@media (max-width: 560px) {
    .maincontent{
    
        grid-template-columns: repeat(1,1fr);
        grid-template-areas: 
        "foto"
        "login";
    }
    .informacion-general {
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "foot1"
        "foot2"
        "foot3"
        "foot4"
        "foot5"
        "foot6"
        ;
    }
    .informacion-footer{
        padding: 0;
    }
    .informacion-general ul li{
        margin-bottom: 1%;
    }
    .redes-footer{
        display: flex;
        justify-content: center;
    }
    .contacto{
        justify-content: center;
    }
}
